.square {
  background: aliceblue;
  border: 1px solid #646567;
  display: flex;
  justify-content: center;
  align-items: center;

  &.block {
    background: #b2b2b2;
    border: 0;
  }
}

.ball {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: #0C1EAF;

  &.selected {
    background: #e8ba19;
  }
}

